body{
  margin:0;
  font-family:   'Montserrat', sans-serif;
}
header{
  border-bottom: 0.9px solid rgb(208, 190, 190);
  box-shadow:1px 1px 5px grey;
}
.main-header{
  display: flex;
  flex-wrap: row;
}
.main-title{
  margin-right: auto;
  font-size: 30px;
  font-weight:lighter ;
}
.main-title:hover{
  cursor: pointer;
}


.main-nav{
  padding:25px;
}
.main-nav a{
  padding:20px;
  text-decoration: none;
  color:#111;
  font-size: 20px;
}
.main-nav a:hover{
  text-decoration: underline;
}
.main-nav a:visited{
  color:rgb(31, 24, 167);
}
.main-nav a button{
  height:50px;
  width:110px;
  border-radius: 5px;
  font-size: 20px;
  color:rgb(47, 47, 232);
  border-color: rgb(47, 47, 232);
  outline: none;
  border: 1px solid blue;
}
.main-nav a button:hover{
  background-color: rgba(32, 55, 230, 0.9);
  color:#fff;
}
/* section{
  max-width: 960px;
  margin:0 auto;
} */
.container-one{
  max-width: 880px;
  margin:0 auto;
  text-align: center;
  justify-content: center;
}
.pricing-title{
  font-size: 50px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
}
.paragraph{
   font-size: 25px;
   font-weight: lighter;
   line-height: 1.8rem;
}
.conatiner-two{
  max-width: 1250px;
  margin:0 auto;
}
.card-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
}
.card{
  height:400px;
  width:350px;
  border:0.1px solid rgba(147, 146, 146, 0.4);
  margin:20px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgb(232, 229, 229);
}
.div-header{
  border-bottom:0.1px solid rgba(147, 146, 146, 0.4); 
  text-align: center !important;
  background:rgb(247, 244, 244) ;
  margin: 0px;
  padding: 0px;
}
.h4-name{
  font-size: 28px;
  margin: 0px;
  padding: 20px;
  font-weight: bold;
  text-transform:capitalize;
}
.div-body{
  text-align: center !important;

}
.div-body ul{
  list-style-type: none;
  line-height:1.7rem;
}
.card-title{
  font-size: 45px;
  font-weight: 1500px;
  padding: 0px;
  margin: 20px 0px;
  color:thick black;
}
h1 small{
  color:gray;
  font-size: 30spx;
}
.div-button{
  height:60px;
  width:300px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  outline: #c2daf4;
  border:none;
  margin:0px 15px;

}
.color-b1{
  border:  1px solid rgba(4, 103, 250, 0.87);
  color: rgba(0, 103, 250, 0.87);
  background-color: #fff;
 
}
.color-b2{
  background-color:rgba(0, 103, 250, 0.87);
  color:#fff
}

